trigger:
- master

jobs:

- job: Run_Ansible_and_Serverspec
  strategy:
    matrix:
      # macMojave: # 動かない！
      #   imageName: 'macOS-10.14'
      macCatalina:
        imageName: 'macOS-10.15' 
  pool:
    vmImage: $(imageName)
  steps:
  - task: UseRubyVersion@0
    inputs:
      versionSpec: '= 2.4'
  - task: GoTool@0
    inputs:
      version: '1.11.4'

  - task: NodeTool@0 
    inputs:
      versionSpec: '10.15.3'

  - script: |
      # brew unlink python@3.9 # AzureのPythonを解除
      # export PATH =  /usr/local/opt/python@3.9/libexec/bin:$PATH　
      # brew link --overwrite python@3.9
      /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall.sh)"
      /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/tubone24/mac-auto-setup/master/homebrew_install.sh)"
      rm '/usr/local/bin/2to3'
      brew --version
      brew link --overwrite python@3.9
      brew install ansible
    displayName: 'Install Ansible'
    
  - script: |
      rm -rf /usr/local/bin/node
    displayName: 'Uninstall default node'
    
  - script: |
      rm -rf /Applications/Google Chrome.app
    displayName: 'Uninstall Default Google Chrome'
    
    
  - script: |
      make setup TARGET=mac
    displayName: 'Run Ansible'
    
  - script: |
      make before-check TARGET=mac
    displayName: 'Before Run Serverspec'

  - script: |
      make check TARGET=mac
    displayName: 'Run Serverspec'
