---
- name: 'Install VS Code'
  homebrew_cask:
    name: 'visual-studio-code'
    state: 'present'

- name: 'Install neovim'
  homebrew:
    name: 'neovim'
    state: 'present'

- name: 'Install CotEditor'
  homebrew_cask:
    name: 'coteditor'
    state: 'present'