---
- name: 'Tap sanemat/font'
  homebrew_tap:
    name: sanemat/font

- name: 'Install Ricty'
  homebrew:
    name: 'ricty'
    state: 'present'

- name: 'copy Ricty to Library/Font'
  copy:
    src: "{{ item }}"
    dest: '~/Library/Fonts/'
  with_fileglob:
    - '/usr/local/opt/ricty/share/fonts/Ricty*.ttf'

- name: 'Font Cache'
  shell: 'fc-cache -vf'
