---
# - name: 'Install Lua'
#   homebrew:
#     name: 'lua'
#     state: 'present'

- name: Git checkout luaenv
  git:
    repo: 'https://github.com/cehoffman/luaenv.git'
    dest: ~/.luaenv

- name: Git checkout lua-build
  git:
    repo: 'https://github.com/cehoffman/lua-build.git'
    dest: ~/.luaenv/plugins/lua-build

- name: Git checkout luarocks
  git:
    repo: 'https://github.com/xpol/luaenv-luarocks.git'
    dest: ~/.luaenv/plugins/luaenv-luarocks

- name: 'Add luaenv init'
  lineinfile:
    dest: '~/.bash_profile'
    line: '{{ item }}'
  with_items:
    - 'export PATH=$HOME/.luaenv/bin:$PATH'
    - 'eval "$(luaenv init -)"'

- name: 'enable bash_profile'
  shell: 'source ~/.bash_profile'

- name: 'install lua 5.2.1'
  shell: '~/.luaenv/bin/luaenv install 5.2.1'

- name: 'global lua 5.2.1'
  shell: '~/.luaenv/bin/luaenv global 5.2.1'