---
# - name: 'Install nodenv'
#   homebrew:
#     name: 'nodenv'
#     state: 'present'

- name: 'Install nodenv with anyenv'
  shell: 'anyenv install nodenv'

- name: 'restart shell'
  shell: 'exec $SHELL -l'

- name: 'Setup nodenv'
  lineinfile:
    dest: '~/.bash_profile'
    line: 'eval "$(nodenv init -)"'

- name: 'enable nodenv'
  shell: 'source ~/.bash_profile'

- name: 'Install Node.js 10.15.3'
  shell: 'nodenv install 10.15.3'
  ignore_errors: yes
  
- name: 'Rehash nodenv'
  shell: 'nodenv rehash'

- name: 'Set Global Node.js 10.15.3'
  shell: 'nodenv global 10.15.3'


