---
- name: 'Install rbenv'
  homebrew:
    name: 'rbenv'
    state: 'present'

- name: 'Install openssl'
  homebrew:
    name: 'openssl'
    state: 'present'
    update_homebrew: yes
    
- name: 'check openssl'
  shell: 'brew list openssl'
  register: result
  
# - name: 'debug'
#   debug: var=result

- name: 'Install ruby-build'
  homebrew:
    name: 'ruby-build'
    state: 'present'

- name: 'Add PATH'
  lineinfile:
    dest: '~/.bash_profile'
    line: '{{ item }}'
  with_items:
    - 'export PATH="$HOME/.rbenv/bin:$PATH"'
    - 'if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi'
    - 'export PATH=/usr/local/Cellar/openssl/1.0.2t/bin:$PATH'
    - 'export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"'
  
- name: 'enable bash_profile'
  shell: 'source ~/.bash_profile'

- name: 'Install Ruby 2.7.2'
  shell: 'rbenv install 2.7.2'
  ignore_errors: yes

- name: 'Rehash rbenv'
  shell: 'rbenv rehash'

- name: 'Set Global ruby 2.7.2'
  shell: 'rbenv global 2.7.2'
  ignore_errors: yes





