---
- name: 'Install rustup'
  homebrew:
    name: 'rustup'
    state: 'present'

# - name: 'enable rustup-init'
#   shell: 'rustup-init'

- name: 'pexpect (need expect ansible)'
  shell: 'pip install pexpect'

- name: enable rustup-init
  expect:
    command: rustup-init
    responses:
      3\): "1"
  no_log: false

- name: 'Add PATH'
  lineinfile:
    dest: '~/.bash_profile'
    line: '{{ item }}'
  with_items:
    - 'export CARGO_HOME="$HOME/.cargo"'
    - 'export PATH="$CARGO_HOME/bin:$PATH"'